/* Estilos generales para el cuerpo del documento */
body {
    background-color: #f0f2f5; /* Color de fondo */
    color: #333; /* Color del texto */
    font-family: 'Roboto', sans-serif; /* Fuente */
    margin: 0; /* Sin margen exterior */
    padding: 0; /* Sin relleno */
    -webkit-font-smoothing: antialiased; /* Suavizado de fuentes para WebKit */
    -moz-osx-font-smoothing: grayscale; /* Suavizado de fuentes para MacOS */
}

/* Estilos del encabezado */
header {
    background: linear-gradient(to right, #29abe3, #00ffc9); /* Degradado de fondo */
    padding: 20px; /* Relleno interno */
    display: flex; /* Contenedor flex */
    justify-content: center; /* Centrado horizontal */
    align-items: center; /* Centrado vertical */
    border-radius: 0 0 20px 20px; /* Bordes redondeados */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); /* Sombra */
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Transiciones */
}

header:hover {
    background-color: #1f8ac0; /* Cambio de color de fondo al pasar el mouse */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Cambio de sombra al pasar el mouse */
}

/* Estilos del logo */
#logo {
    height: auto; /* Altura automática */
    max-height: 80px; /* Altura máxima */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); /* Sombra */
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Transiciones */
}

#logo:hover {
    transform: scale(1.1) rotate(5deg); /* Escalado y rotación al pasar el mouse */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7); /* Cambio de sombra al pasar el mouse */
}

/* Estilos del carrusel */
.carousel {
    margin: 20px auto; /* Margen automático */
    width: 400px; /* Ancho */
    height: 500px; /* Altura */
    background-color: #26a1da; /* Color de fondo */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Sombra */
    overflow: hidden; /* Ocultar contenido sobrante */
    position: relative; /* Posición relativa */
    transition: transform 0.3s ease-in-out; /* Transición */
}

.carousel img {
    width: 100%; /* Ancho completo */
    height: 100%; /* Altura completa */
    object-fit: cover; /* Ajuste del contenido */
    position: absolute; /* Posición absoluta */
    top: 0; /* Arriba */
    left: 0; /* Izquierda */
    opacity: 0; /* Opacidad inicial */
    transition: opacity 1s ease-in-out; /* Transición de opacidad */
}

.carousel img:nth-child(1) {
    opacity: 1; /* Primera imagen visible */
}

.carousel:hover {
    transform: scale(1.05) rotate(-2deg); /* Escalado y rotación al pasar el mouse */
}

/* Estilos de la sección de información de contacto */
.contact-info {
    background: linear-gradient(to right, #00ffc9, #29abe3); /* Degradado de fondo */
    padding: 20px; /* Relleno interno */
    justify-content: center; /* Centrado horizontal */
    align-items: center; /* Centrado vertical */
    border-radius: 0 0 20px 20px; /* Bordes redondeados */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); /* Sombra */
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Transiciones */
    margin: 20px auto; /* Margen automático */
    text-align: center; /* Alineación del texto */
}

.contact-info:hover {
    background-color: #1f8ac0; /* Cambio de color de fondo al pasar el mouse */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Cambio de sombra al pasar el mouse */
}

.contact-info h2 {
    margin-bottom: 10px; /* Margen inferior */
}

.contact-info a {
    color: inherit; /* Color del enlace */
    text-decoration: none; /* Sin decoración de texto */
    position: relative; /* Posición relativa */
}

.contact-info a:hover {
    text-decoration: underline; /* Subrayado al pasar el mouse */
}

.contact-info button {
    margin-left: 5px; /* Margen izquierdo */
    background-color: #29abe3; /* Color de fondo */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    padding: 10px 20px; /* Relleno */
    cursor: pointer; /* Cursor de puntero */
    color: white; /* Color del texto */
    font-weight: bold; /* Negrita */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5); /* Sombra */
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out; /* Transiciones */
}

.contact-info button:hover {
    background: linear-gradient(to right, #29abe3, #00ffc9); /* Degradado de fondo al pasar el mouse */
    transform: scale(0.95); /* Escalado al pasar el mouse */
}

/* Estilos de los enlaces sociales */
.social-links {
    margin-top: 10px; /* Margen superior */
}

.social-links a {
    margin-right: 10px; /* Margen derecho */
    color: #fff; /* Color del texto */
    transition: transform 0.3s ease-in-out; /* Transición */
}

.social-links a:hover {
    transform: scale(1.1); /* Escalado al pasar el mouse */
}

.social-links i {
    font-size: 30px; /* Tamaño del ícono */
}

/* Estilos del pie de página */
footer {
    margin-top: 20px; /* Margen superior */
    padding: 20px; /* Relleno interno */
    background-color: #29abe3; /* Color de fondo */
    color: #fff; /* Color del texto */
    text-align: center; /* Alineación del texto */
    border-radius: 20px 20px 0 0; /* Bordes redondeados */
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.1); /* Sombra */
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out; /* Transiciones */
}

footer:hover {
    background-color: #1f8ac0; /* Cambio de color de fondo al pasar el mouse */
    color: #fff; /* Cambio de color de texto al pasar el mouse */
}

footer p {
    margin: 0; /* Sin margen */
}

/* Estilos para el icono de audio */
.audio-bubble {
    width: 60px; /* Ancho inicial */
    height: 60px; /* Altura inicial */
    background-color: #29abe3; /* Color de fondo */
    border-radius: 50%; /* Forma circular */
    position: fixed; /* Posición fija */
    top: 50%; /* Centrado vertical */
    left: 20px; /* Desplazamiento desde la izquierda */
    display: flex; /* Contenedor flex */
    justify-content: center; /* Centrado horizontal */
    align-items: center; /* Centrado vertical */
    cursor: pointer; /* Cursor de puntero */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Sombra */
    transition: all 0.3s ease; /* Transición suave */
    z-index: 1000; /* Índice Z alto */
    transform: translateY(-50%); /* Centrado vertical */
}

.audio-bubble i {
    font-size: 28px; /* Tamaño del ícono */
    color: #fff; /* Color del ícono */
    transition: transform 0.3s ease, color 0.3s ease; /* Transiciones suaves */
}

.audio-bubble .bubble-notification {
    position: absolute; /* Posición absoluta */
    top: -5px; /* Desplazamiento desde arriba */
    right: -5px; /* Desplazamiento desde la derecha */
    width: 20px; /* Ancho */
    height: 20px; /* Altura */
    background-color: #ff4d4d; /* Color de fondo */
    border-radius: 50%; /* Forma circular */
    color: #fff; /* Color del texto */
    font-size: 12px; /* Tamaño de fuente */
    font-weight: bold; /* Texto en negrita */
    display: flex; /* Contenedor flex */
    justify-content: center; /* Centrado horizontal */
    align-items: center; /* Centrado vertical */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Sombra */
    opacity: 0; /* Oculto por defecto */
    transition: all 0.3s ease; /* Transición suave */
}

.audio-bubble:hover {
    width: 200px; /* Ancho aumentado al pasar el mouse */
    height: 100px; /* Altura aumentada al pasar el mouse */
    top: 45%; /* Posición ajustada */
    background-color: #1f8ac0; /* Color de fondo más oscuro al pasar el mouse */
}

.audio-bubble:hover i {
    transform: scale(1.2); /* Ícono más grande al pasar el mouse */
}

.audio-bubble:hover .bubble-notification {
    opacity: 1; /* Mostrar notificación al pasar el mouse */
    transform: scale(1); /* Efecto de escala */
}

.audio-bubble .expanded-content {
    display: none; /* Oculto por defecto */
    position: absolute; /* Posición absoluta */
    top: 80%; /* Desplazamiento desde arriba */
    left: 50%; /* Centrado horizontal */
    transform: translate(-38%, -50%); /* Centrado vertical y horizontal */
    background-color: #fff; /* Color de fondo */
    padding: 10px; /* Relleno */
    border-radius: 5px; /* Bordes redondeados */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3); /* Sombra */
    z-index: 1001; /* Índice Z alto */
    text-align: center; /* Alineación del texto */
}

.audio-bubble:hover .expanded-content {
    display: block; /* Mostrar contenido al pasar el mouse */
}
